body{
    background-image: url("/assets/images/background.png");
    height: 100vh;

}

footer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background-color: transparent;
    }


    .titulo {
        display: flex;
        justify-content: space-around;
        justify-self: center;
        margin: 20px;
        background-color: rgba(11, 114, 11, 0.621);
        width: 30%;
        border-radius: 15px;
    }
    
    .tarjetas {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .card-body {
        display: block;
        justify-content: contents;
        background-color: transparent;
    }
    .card-header{
        background-color: transparent;
    }
    
    section{
        margin: 50px;
        gap: 5%;
    }

@include media-breakpoint-up(sm) {
    section {
    display: block;
    }
}

