main{
    background-image: url(../images/okami-backround.jpg);
    background-attachment: fixed;
    background-size: contain;
    padding-top: 50px;     
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    
}

#footer{
    height: 30px;
}

#card1, #card2, #card3{
    background-color: rgba(255, 255, 255, 0.75);
}

#cartas{
    gap: 10px;
    
}

