body{
    background-image: url("/assets/images/background.png");
}

/* .footer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background-color: transparent;
    } */

.titulo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px;
}

.tarjetas {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card-body {
    display: block;
    justify-content: contents;
}

section{
    margin: 50px;
    gap: 5%;
}

.container (
    sm: 540px,

);


