

.footer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background-color: transparent;
    }

main{
    
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body{
    height: 30%s;
}


